body {
  margin: 0;
  padding: 0;
  background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 123vh;
  background-attachment: fixed;
  text-shadow: 2px 1px 1px #4ec6ea;
  font-family: Helvetica;
}

#Wrapper {
  margin: 50px auto;
  width: 800px;
  padding: 50px 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #4ec6ea;
  background: rgb(243, 243, 243);
  border: 5px solid #4ec6ea;
  border-radius: 10px;
}

button {
  padding: 15px 70px;
  margin: 10px;
  font-size: 17px;
  background-color: #fefefe;
  border: 1px solid #4ec6ea;
  cursor: pointer;
  border-radius: 5px;
  color: #4ec6ea;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  color: #ccc;
}

#Wrapper-number {
  font-size: 120px;
}
